a, a:visited, a:active {
  color: hsl(216deg, 84%, 57%, 1);
  text-decoration: none;
}

a:hover {
  color: hsl(216deg, 84%, 42%, 1);
}

.app {
  height: 100%;
  box-sizing: border-box;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  color: #19191A;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.front-compose {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: #9B9C9E;
  cursor: pointer;
}

.front-compose:hover {
  color: #4e4e4e;
}

.notice {
  text-align: center;
  font-size: 12px;
}

.notice.error {
  color: hsl(0, 50%, 50%);
}

.template {
  /* Transparent/Black 8% */
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  border-radius: 16px;
}
