a, a:visited, a:active {
  color: hsl(216deg, 84%, 57%, 1);
  text-decoration: none;
}

a:hover {
  color: hsl(216deg, 84%, 42%, 1);
}

h4 {
  color: #3E3E40; /* Gray 80 */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.app {
  height: 100%;
  box-sizing: border-box;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  color: #19191A;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.btn-back {
  align-items: center;
  color: #9B9C9E; /* Gray 60 */
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  height: 24px;
  line-height: 18px;
  margin-top: 11px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-right: 10px;
  position: absolute;
  top: 0;

  /* Make text not selectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.btn-back:before {
  content: url(icons/back.svg);
  padding-top: 4px;
  margin-left: -12px;
}

.front-compose {
  background: #367FEE; /* Blue 40 */
  /* Buttons/Primary */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  color: #FFFFFF; /* White */
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: -0.154px;
  line-height: 16px;
  padding: 5px 0;
  text-align: center;
  width: 95px;
}

.front-compose:hover {
  background: #2356B3; /* Blue 50 */
}

.insert-draft-btn-container {
  align-items: center;
  border-top: 1px solid #D4D6D9; /* Gray 40 */
  bottom: 0px;
  display: flex;
  height: 58px;
  position: fixed;
  width: 90%;
}

.notice {
  text-align: center;
  font-size: 12px;
}

.notice.error {
  color: hsl(0, 50%, 50%);
}

.template-details {
  bottom: 58px;
  margin-top: 10px;
  overflow: auto;
  position: absolute;
  top: 34px;
}

.template-details h4 {
  margin-top: 0;
  margin-bottom: 8px;
}

.template-details p {
  color: #77787A; /* Gray 70 */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.0015em;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 16px;
}

.template-list-container {
  bottom: 0;
  margin-top: 10px;
  overflow: auto;
  padding-right: 14px;
  position: absolute;
  top: 55px;
}

.template-searchbox {
  background: #F3F4F6 url(icons/search.svg) no-repeat scroll 8px 8px; /* Gray 20 */
  border: none;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  height: 30px;
  line-height: 17px;
  letter-spacing: -0.154px;
  margin-bottom: 21px;
  margin-top: 11px;
  padding-left: 32px;
  width: 100%
}

.template-searchbox:focus {
  background: #FFFFFF; /* White */
  color: #3E3E40; /* Gray 80 */
  padding-left: 8px;
  padding-right: 8px;
}

.template-searchbox::placeholder {
  color: #9B9C9E; /* Gray 60 */
  height: 17px;
}

.template-searchbox::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: url(icons/crossCircle.svg) no-repeat scroll;
  cursor: pointer;
  margin-left: 8px;
}

.template-search-close-btn {
  display: none;
}

@-moz-document url-prefix() {
  .template-searchbox:required {
      box-shadow: none;
  }

  .template-searchbox:not(:valid) ~ .template-search-close-btn {
    display: none;
  }

  .template-search-close-btn {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    vertical-align: middle;
  }

  .template-search-close-btn:after {
    background-color: #BBBDBF;
    border-radius: 50%;
    bottom: 0;
    color: white;
    content: "X";
    cursor: pointer;
    display: block;
    font-weight: normal;
    font-size: 12px;
    height: 15px;
    margin: auto;
    padding: 2px;
    position: absolute;
    right: 25px;
    text-align: center;
    top: -27px;
    width: 15px;
    z-index:1;
  }
}

.template-searchbox-container {
  left: 0;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 14px;
  position: absolute;
  right: 0;
  top: 6px;
}

.template-summary {
  border: 1px solid rgba(0, 0, 0, 0.08); /* Transparent/Black 8% */
  box-sizing: border-box;
  border-radius: 16px;
  font-style: normal;
  height: 92px;
  margin-bottom: 14px;
  padding: 14px 12px;
}

.template-summary:hover {
  cursor: pointer;
}

.template-summary .ts-title {
  color: #3E3E40; /* Gray 80 */
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.template-summary .ts-title.hovered {
  color: #367FEE; /* Blue 40 */
}

.template-summary .ts-body {
  color: #77787A; /* Gray 70 */
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.0015em;

  /* Show 2 lines of text + ellipses */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 18px;     /* fallback */
  height: 36px;          /* fallback */
}
